---
---

@import 'base';
@import 'header';
@import 'footer';

.site {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.site-wrap {
  flex: 1;
  max-width: 42em;
  margin: auto;
  padding: 1em;
}
